<!DOCTYPE html>
<html>
<head>
  	<title>Ruler</title>
	<link rel="stylesheet" type="text/css" href="ruler.scss">
</head>

<header>
    <!-- Navigation bar -->
    <nav>
      <a href="welcome.html">Home</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>


<body>
<h1>Ruler</h1>

<div class="container">
  <div class="ruler">
    <div class="numbers">0 1 2 3 4 5 6 7 8 9</div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
    <div class="lines"></div>
  </div>
</div>
</body>

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  padding: 15px;
}
.container {
  position: relative;
  width: 450px;
  height: 450px;
  margin: auto;
  box-sizing: border-box;
}
.ruler {
  position: absolute;
  top: 40%; 
  left:5%;  
  width: 90%; 
  height: 20%;  
  background: linear-gradient(#deb887,#c59250);
  box-shadow: 15px 5px 0px #cdeb887;
}

.numbers {
  position: absolute;
  bottom: 30px;
  word-spacing: 25px;
  font-family: Roboto;
  font-size: 18px;
}
.lines {
  position: absolute;
  top: 0px;
  height: 15px;
  width: 2px;
  background-color: #333;
}
.lines:nth-child(10n+1) {
  height: 40px!important;
}
.lines:nth-child(5n+1) {
  height: 25px;
}

.lines:nth-child(1) {
  left: 0px;
}
.lines:nth-child(2) {
  left: 4px;
}
.lines:nth-child(3) {
  left: 8px;
}
.lines:nth-child(4) {
  left: 12px;
}
.lines:nth-child(5) {
  left: 16px;
}
.lines:nth-child(6) {
  left: 20px;
}
.lines:nth-child(7) {
  left: 24px;
}
.lines:nth-child(8) {
  left: 28px;
}
.lines:nth-child(9) {
  left: 32px;
}
.lines:nth-child(10) {
  left: 36px;
}
.lines:nth-child(11) {
  left: 40px;
}
.lines:nth-child(12) {
  left: 44px;
}
.lines:nth-child(13) {
  left: 48px;
}
.lines:nth-child(14) {
  left: 52px;
}
.lines:nth-child(15) {
  left: 56px;
}
.lines:nth-child(16) {
  left: 60px;
}
.lines:nth-child(17) {
  left: 64px;
}
.lines:nth-child(18) {
  left: 68px;
}
.lines:nth-child(19) {
  left: 72px;
}
.lines:nth-child(20) {
  left: 76px;
}
.lines:nth-child(21) {
  left: 80px;
}
.lines:nth-child(22) {
  left: 84px;
}
.lines:nth-child(23) {
  left: 88px;
}
.lines:nth-child(24) {
  left: 92px;
}
.lines:nth-child(25) {
  left: 96px;
}
.lines:nth-child(26) {
  left: 100px;
}
.lines:nth-child(27) {
  left: 104px;
}
.lines:nth-child(28) {
  left: 108px;
}
.lines:nth-child(29) {
  left: 112px;
}
.lines:nth-child(30) {
  left: 116px;
}
.lines:nth-child(31) {
  left: 120px;
}
.lines:nth-child(32) {
  left: 124px;
}
.lines:nth-child(33) {
  left: 128px;
}
.lines:nth-child(34) {
  left: 132px;
}
.lines:nth-child(35) {
  left: 136px;
}
.lines:nth-child(36) {
  left: 140px;
}
.lines:nth-child(37) {
  left: 144px;
}
.lines:nth-child(38) {
  left: 148px;
}
.lines:nth-child(39) {
  left: 152px;
}
.lines:nth-child(40) {
  left: 156px;
}
.lines:nth-child(41) {
  left: 160px;
}
.lines:nth-child(42) {
  left: 164px;
}
.lines:nth-child(43) {
  left: 168px;
}
.lines:nth-child(44) {
  left: 172px;
}
.lines:nth-child(45) {
  left: 176px;
}
.lines:nth-child(46) {
  left: 180px;
}
.lines:nth-child(47) {
  left: 184px;
}
.lines:nth-child(48) {
  left: 188px;
}
.lines:nth-child(49) {
  left: 192px;
}
.lines:nth-child(50) {
  left: 196px;
}
.lines:nth-child(51) {
  left: 200px;
}
.lines:nth-child(52) {
  left: 204px;
}
.lines:nth-child(53) {
  left: 208px;
}
.lines:nth-child(54) {
  left: 212px;
}
.lines:nth-child(55) {
  left: 216px;
}
.lines:nth-child(56) {
  left: 220px;
}
.lines:nth-child(57) {
  left: 224px;
}
.lines:nth-child(58) {
  left: 228px;
}
.lines:nth-child(59) {
  left: 232px;
}
.lines:nth-child(60) {
  left: 236px;
}
.lines:nth-child(61) {
  left: 240px;
}
.lines:nth-child(62) {
  left: 244px;
}
.lines:nth-child(63) {
  left: 248px;
}
.lines:nth-child(64) {
  left: 252px;
}
.lines:nth-child(65) {
  left: 256px;
}
.lines:nth-child(66) {
  left: 260px;
}
.lines:nth-child(67) {
  left: 264px;
}
.lines:nth-child(68) {
  left: 268px;
}
.lines:nth-child(69) {
  left: 272px;
}
.lines:nth-child(70) {
  left: 276px;
}
.lines:nth-child(71) {
  left: 280px;
}
.lines:nth-child(72) {
  left: 284px;
}
.lines:nth-child(73) {
  left: 288px;
}
.lines:nth-child(74) {
  left: 292px;
}
.lines:nth-child(75) {
  left: 296px;
}
.lines:nth-child(76) {
  left: 300px;
}
.lines:nth-child(77) {
  left: 304px;
}
.lines:nth-child(78) {
  left: 308px;
}
.lines:nth-child(79) {
  left: 312px;
}
.lines:nth-child(80) {
  left: 316px;
}
.lines:nth-child(81) {
  left: 320px;
}
.lines:nth-child(82) {
  left: 324px;
}
.lines:nth-child(83) {
  left: 328px;
}
.lines:nth-child(84) {
  left: 332px;
}
.lines:nth-child(85) {
  left: 336px;
}
.lines:nth-child(86) {
  left: 340px;
}
.lines:nth-child(87) {
  left: 344px;
}
.lines:nth-child(88) {
  left: 348px;
}
.lines:nth-child(89) {
  left: 352px;
}
.lines:nth-child(90) {
  left: 356px;
}
.lines:nth-child(91) {
  left: 360px;
}
.lines:nth-child(92) {
  left: 364px;
}
.lines:nth-child(93) {
  left: 368px;
}
.lines:nth-child(94) {
  left: 372px;
}
.lines:nth-child(95) {
  left: 376px;
}
.lines:nth-child(96) {
  left: 380px;
}
.lines:nth-child(97) {
  left: 384px;
}
.lines:nth-child(98) {
  left: 388px;
}
.lines:nth-child(99) {
  left: 392px;
}
.lines:nth-child(100) {
  left: 396px;
}	
</style>
</html>