<!DOCTYPE html>
<html>
<head>
  	<title>Space Invader</title>
	<link rel="stylesheet" type="text/css" href="space_invader.scss">
</head>

<header>
    <!-- Navigation bar -->
    <nav>
      <a href="welcome.html">Home</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>


<body>
<h1>Space Invader</h1>
<br>
<div class="space-invader"></div>
</body>
</html>
