<!DOCTYPE html>
<html>
<head>
  	<title>Timesheet</title>
	<link rel="stylesheet" type="text/css" href="timesheet.scss">
</head>

<header>
    <!-- Navigation bar -->
    <nav>
      <a href="welcome.html">Home</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>


<body>
<h1>Timesheet</h1>
</body>
<a>This week I failed.  I did plan to create a time sheet to track hours per day.  I started with good intentions but ran out of time.  I will come back and finish at some stage in the future...<a/>
<div id ="homer"><img id="homer" src='http://i0.kym-cdn.com/photos/images/original/000/925/410/4cc.jpg'></div>




</html>
