<!DOCTYPE html>
<html>
<head>
  	<title>Clock</title>
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.css">
	<link rel="stylesheet" type="text/css" href="clock.scss">
</head>

<header>
    <!-- Navigation bar -->
    <nav>
      <a href="welcome.html">Home</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>

	<div id="top_container">
    	<center><h1>I have been alive for... </h1></center>
  	</div>


<body id="home">


	<div id="center-div">
  		<div class="clock">
   		<tr>

  			<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  			<script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>

  			<script type="text/javascript">
    			var date = new Date("December 17 1970"); //Create your date object
    			var now = new Date(); //Get todays date
    			var diff =  (now.getTime()/1000) - (date.getTime()/1000); //Calculate differenece
    			var clock = $('.clock').FlipClock(diff, {
      			clockFace: 'DailyCounter',
      			countdown: false,
    			});
  			</script>
  		</div>
  		<a>if you dont see a clock straight away hit refresh, the API is sometimes slow...</a>
 	</div>
</body>