<!DOCTYPE html>
<html>
<head>
    <title>Friday</title>
    <link rel='stylesheet' type='text/css' href='friday.scss'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<header>
    <!-- Navigation bar -->
    	<nav>
      		<a href="welcome.html">Home</a>
      		<a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      		<a href="https://github.com/AdrianTuckwell">GitHub</a>
    	</nav>
</header>


<body>
<h1>Happy Friday!</h1>
<div class="area">The 13th!</div>

</body>


<style type="text/css">
	@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 /*background: #111;*/
 font-family: "Open Sans",  Impact;
}

.area {
  text-align: center;
  font-size: 6.5em;
  color: #89D9E1;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur .75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}







</style>



</html>