<!DOCTYPE html>
<html>
<head>
  	<title>Switches</title>
	<link rel="stylesheet" type="text/css" href="switches.scss">
</head>

<header>
    <!-- Navigation bar -->
    <nav>
      <a href="welcome.html">Home</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>


<body>
<h1>Switches</h1>
<br>

<h4>This was supposed to be animated with Compass. However I had difficulty importing... </h4>
<h4>Requires some head scratching and I will come back to it</h4>

<div class="wrap">
  
  <input type="checkbox" class="slider-v1" id="s1" />
  <label for="s1"></label>

  <input type="checkbox" class="slider-v1" id="s2" checked="" />
  <label for="s2"></label>
  
</div><!--/wrap-->
<div class="wrap">
  
  <input type="checkbox" class="slider-v2" id="s3" />
  <label for="s3"></label>
  
  <input type="checkbox" class="slider-v2" id="s4" checked="" />
  <label for="s4"></label>
  
</div><!--/wrap-->
<div class="wrap">
  
  <input type="checkbox" class="slider-v3" id="s5" />
  <label for="s5"></label>
  
  <input type="checkbox" class="slider-v3" id="s6" checked="" />
  <label for="s6"></label>
  
</div><!--/wrap-->


</body>
</html>