<html>
  <body id="about">
    <header>
      <nav>
        <a href="welcome.html">Home</a>
        <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
        <a href="https://github.com/AdrianTuckwell">GitHub</a>
      </nav>
    </header>

    <div id='content'>
      <p>Here I am, I have just finished a Coding Bootcamp in CodeClan Edinburgh.  So I dont loose the new skills that I have learnt I have set myself the challenge of creating code every week for 52 weeks and publish all my code publicly on <a href="https://github.com/AdrianTuckwell">GitHub</a> and wrote a <a href="http://adriantuckwell.co.uk">blog</a> about what I created. Projects will be created in Javascript, Ruby on Rails and Node.js.</p>
    </div>
  </body>
</html>