<!-- Header -->
<header>
    <!-- Navigation bar -->
    <nav>
      <a href="about.html">About</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>

<body id="home">
  <div id="top_container">
  <!-- Image of me -->
    <a className='logo-img' href="mailto:adrian.tuckwell@gmail.com"><img id="logo" src='assets/me.png'></a>
  </div>

  <!-- Introduction and Info container -->
  <div id="info_container">
    <h1>Project 52</h1>
    <br>
    <a>I'm Adrian Tuckwell and I am a recent graduate from software development bootcamp</a>
     <span><a href="http://codeclan.com">CodeClan</a></span><a> - Edinburgh (Jan2017).  To practice my new found coding skills I have set myself the challenge of making 52 websites in 52 weeks.</a>
    <br>
    <br>
    <a>I will be using Ruby on Rails, Javascript, Postgres/SQLite3, HTLP and CSS...</a>
    <br>
    <br>
    <a>You can follow the project here and on my <span><a href="http://adriantuckwell.co.uk">blog</a></span>.</a>
  </div>

  <!-- List of 52 web pages -->
  <div id="website_list_container">
    <div>Week 0 <span><a href="cars">My potted car history</a></span></div>
    <div>Week 1 <span><a href="clock">Im alive...</a></span></div>
  </div>

</body>