<!-- Header -->
<header>
    <!-- Navigation bar -->
    <nav>
      <a href="about.html">About</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>

<body id="home">
  <div id="top_container">
  <!-- Image of me -->
    <a className='logo-img' href="mailto:adrian.tuckwell@gmail.com"><img id="logo" src='assets/me.png'></a>
  </div>

  <!-- Introduction and Info container -->
  <div id="info_container">
    <h1>Hi!</h1>
    <div>I'm Adrian Tuckwell and I am making</div>
    <div class="orange">52 websites in 52 weeks.</div>
    <div>You can follow the project here and on my <span><a href="http://adriantuckwell.co.uk">blog</a></span>.</div>
  </div>

  <!-- List of 52 web pages -->
  <div id="website_list_container">
    <div>Week 0 <span><a href="cars">My potted car history</a></span></div>
    <div>Week 1 <span><a href="1D_optimixer">1D optimizer</a></span></div>
  </div>

</body>