<!-- Header -->
<header>
    <!-- Navigation bar -->
    <nav>
      <a href="https://www.adriantuckwell.co.uk">About</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>

<body id="home">
  <div id="top_container">
  <!-- Image of me -->
    <a className='logo-img' href="mailto:adrian.tuckwell@gmail.com"><img id="logo" src='assets/me.png'></a>
  </div>

  <!-- Introduction and Info container -->
  <div id="info_container">
    <h1>Project 52</h1>
    <br>
    <a>I'm Adrian Tuckwell and I am a recent graduate from software development bootcamp</a>
     <span><a href="http://codeclan.com">CodeClan</a></span><a> - Edinburgh (Jan2017).  To practice my new found coding skills I have set myself the challenge of making 52 websites in 52 weeks.</a>
    <br>
    <br>
    <a>I will be using Ruby on Rails, Javascript, Postgres/SQLite3, HTML and CSS...</a>
    <br>
    <br>
    <a>You can follow the project here and on my <span><a href="https://www.adriantuckwell.co.uk/blog/">blog</a></span>.</a>
  </div>

  <!-- List of 52 web pages -->
  <div id="website_list_container">
    <div>Week 0 <span><a href="cars">My potted car history</a></span></div>
    <div>Week 1 <span><a href="clock">Im alive...</a></span></div>
    <div>Week 2 <span><a href="sun">Sunrise</a></span></div>
    <div>Week 3 <span><a href="ski">Skier</a></span></div>
    <div>Week 4 <span><a href="ball">Ball</a></span></div>
    <div>Week 5 <span><a href="converter">Converter</a></span></div>
    <div>Week 6 <span><a href="maps">Maps</a></span></div>
    <div>Week 7 <span><a href="born">Born</a></span></div>
    <div>Week 8 <span><a href="eyes">Eyes</a></span></div>
    <div>Week 9 <span><a href="gravity">Gravity</a></span></div>
    <div>Week 10 <span><a href="lottery">Lottery</a></span></div>
    <div>Week 11 <span><a href="snake">Snake</a></span></div>
    <div>Week 12 <span><a href="circuits">Circuits</a></span></div>
    <div>Week 13 <span><a href="shapes">Shapes</a></span></div>
    <div>Week 14 <span><a href="switches">Switches</a></span></div>
    <div>Week 15 <span><a href="rude_kid">Rude Kid</a></span></div>
    <div>Week 16 <span><a href="space_invader">Space Invader</a></span></div>
    <div>Week 17 <span><a href="las_vegas">Las Vegas</a></span></div>
    <div>Week 18 <span><a href="fidget_spinner">Fidget Spinner</a></span></div>
    <div>Week 19 <span><a href="millions">Millions</a></span></div>
    <div>Week 20 <span><a href="random">Random quote</a></span></div>
    <div>Week 21 <span><a href="redbutton">Red Button</a></span></div>
    <div>Week 22 <span><a href="trafficlight">Traffic Light</a></span></div>
    <div>Week 23 <span><a href="timeline">Timeline</a></span></div>
    <div>Week 24 <span><a href="timesheet">Timesheet</a></span></div>
    <div>Week 25 <span><a href="stopwatch">Stopwatch</a></span></div>
    <div>Week 26 <span><a href="skyline">Skyline</a></span></div>
    <div>Week 27 <span><a href="terminal">Terminal</a></span></div>
    <div>Week 28 <span><a href="calendar">Calendar</a></span></div>
    <div>Week 29 <span><a href="calculator">Calculator</a></span></div>
    <div>Week 29 <span><a href="eclipse">Eclipse</a></span></div>
  </div>

</body>