<!DOCTYPE html>
<html>
<head>
    <title>Fidget Spinner</title>
    <link rel='stylesheet' type='text/css' href='figet_spinner.scss'/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<header>
    <!-- Navigation bar -->
    	<nav>
      		<a href="welcome.html">Home</a>
      		<a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      		<a href="https://github.com/AdrianTuckwell">GitHub</a>
    	</nav>
</header>


<body>
<h1>Fidget Spinner</h1>

<div class="fidget">
	<div class="end"></div>
	<div class="end"></div>
	<div class="end"></div>
	<div class="center"></div>
	<div class="gap"></div>
	<div class="gap"></div>
	<div class="gap"></div>
</div>


<style>

</style>
</body>
</html>
