<!DOCTYPE html>
<html>
<head>
  	<title>Skyline</title>
	<link rel="stylesheet" type="text/css" href="skyline.scss">
</head>

<header>
    <!-- Navigation bar -->
    <nav>
      <a href="welcome.html">Home</a>
      <a href="mailto:adrian.tuckwell@gmail.com">Contact</a>
      <a href="https://github.com/AdrianTuckwell">GitHub</a>
    </nav>
</header>


<body>
<h1>Skyline</h1>
</body>

<canvas id="canvas"></canvas>
<span id="info">click on the skyline to create a new one</span>

<style type="text/css">
	*{
  margin:0;
  padding:0;
}
body{
  font-family:sans-serif;
  font-weight:bold;
}
#canvas{
	background: rgb(137,217,225);
  background: -moz-linear-gradient(top, rgba(102,175,214,1) 0%, rgba(6,109,171,1) 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,175,214,1)), color-stop(100%,rgba(6,109,171,1)));
	background: -webkit-linear-gradient(top, rgba(102,175,214,1) 0%,rgba(6,109,171,1) 100%); 
  border:5px solid black;
  display:block;
  margin: 20px auto;
  border-radius:2px;
  cursor:pointer;
}
#info{
  text-transform: uppercase;
  text-align: center;
  display:block;
  margin:0 auto;
  width: 80%;
 }
</style>


<script type="text/javascript">
	var Application = (function(){

  var canvas;
  var ctx;
  var WIDTH;
  var HEIGHT;

  var init = function(){
    canvas = document.getElementById('canvas');
    ctx = canvas.getContext('2d');
    bindEventHandlers();
    resize();
  };
  var genSkyline = function(){
  	canvas.width = WIDTH;
  	var maxWidth = WIDTH / 40;
  	var minWidth = maxWidth / 15;
  	var maxHeight = HEIGHT / 1.2; 
  	var minHeight = maxHeight / 5;
  	var amount = random(WIDTH/20,WIDTH/10);
  	var pos = 0;
  	while(pos < WIDTH + maxWidth){
  		var currWidth = random(minWidth,maxWidth);	drawSkyscraper(pos,currWidth,random(minHeight,maxHeight));
  		pos += currWidth;
  	}
  };
  var drawSkyscraper = function(pos,scraper_width,scraper_height){
  	ctx.beginPath();	 ctx.rect(pos,HEIGHT-scraper_height,scraper_width,scraper_height);
  	ctx.stroke();
  	ctx.fillStyle = 'black';
  	ctx.fill();
  };
  var bindEventHandlers = function(){
    window.onresize = resize;
 canvas.addEventListener('click',genSkyline,false);
  };
  var resize = function(){
    canvas.width = WIDTH = window.innerWidth * .8;
    canvas.height = HEIGHT = window.innerHeight * .4;
    genSkyline();
  };
  var random = function(a,b){
    return Math.random() * (b - a) + a;
  };
  return {
    init : init
  };
}());

Application.init();
</script>
</html>
